# basics
- operators
- arithmetic
- assingment
- comparison
- logical
- identity " is"
- membership " in"
- variables
- datatype
- keywords
- io

In [1]:
2+2

4

In [2]:
34235454335355346635552+3255353466646352526463462

3289588920981707873099014

In [3]:
2134*12312

26273808

In [4]:
122313/2

61156.5

In [5]:
21321312//3

7107104

In [6]:
157**5

95388992557

assingment operator
'= += -= *= /=//= %= **=

In [7]:
x = 100
y =2.3910
z = False
a = None

In [8]:
X = 5 # dirct assigment
X += 10 # uptade assigment
X -= 2 
X *= 3
name = "atishey jain"
name +="ðŸ˜Š"

In [9]:
a = 12
b = 13
c = a + b

conditional operator
...

<
<=
>=
==
!=

In [10]:
a < a-5

False

In [11]:
a = 2
b = 3

In [12]:
a > b

False

In [13]:
a < b

True

In [14]:
False > 10

False

In [15]:
a < b > 10

False

 logical operator

 and 
 or
 not

In [16]:
a = 10
b = 20
a < b and b < 30

True

In [17]:
print(a < b and b < 30)
print ( a > b or b > 20)
print( not a > b)

True
False
True

In [18]:
fruits = ['apple', 'banana','cherry']
print('apple' in fruits)
print('orrange' in fruits)
print('orange' not in fruits)
print('banana' not in fruits)

True
False
True
False

In [19]:
x = 20
y = x
print(x,y)
print(x == y) # value equality
print(x is y) # reference equality
name ="atishey"
name2 ="atishey"
print(name == name2)
print(name is name2)

20 20
True
True
True
True

In [20]:
x = [1, 2, 3]
y = x#reference copy
z = x.copy()#value copy
print(x is y)
print (x is z)
print(x ==z)
print(x == y)

True
False
True
True

datatypes (9)
- integers 'int'
- float  'float'
- boolean 'bool'
- none 'nonetype'
- string 'str'
- list 'list'
- tuple 'tuple'
- set  'set'
- dictionary 'dict'

In [22]:
coods = (10,20,32)
nams = {'alex',"alan","alice","arti"}
info = {'name':'zaid','age':20,"ctiy":'kula lumpur'}

In [23]:
del x #deletex x from the memory