In [4]:
p =12000
r = 10.49
t = 5
si = p*r*t/100
si

6294.0

example ans =

In [5]:
input("enter your name")

'atishey'

In [1]:
name = input('enter your namr')
city = input('enter your city')
color = input('enter your favorite color')
fruit = input('enter your favorite fruit')
luckynum = input('enter your lucky number')

In [2]:
a = input('enter a number')
b = input('enter a number')
print(a+b)

1020

typecasting

from onedatatype => another
str=> int(variable) => int

In [12]:
float("12.20")

12.2

In [18]:
a = 10
b = "10"
c = "10.20"
d = 10.20
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>

In [20]:
print(float(a))
print(str(a))
print(bool(a))

10.0
10
True

In [22]:
a = input('enter a number')
b= input('entera number')
c = int(a)+int(b)
print(c)

300

In [23]:
a = int(input('enter a number'))
b = int(input('enter a number'))
c = a + b
print(c)

133333

In [26]:
p = int(input('enter ur principal'))
r = float(input('enter ur rate'))
t = int(input('enter ur time'))
si = p*r*t/100
print(si)

12239.999999999998

answer 12 - 3 = 9

In [27]:
a = 12
b = 3
c = a - b
print("answer:",a ,'-',b,'=',c)

answer: 12 - 3 = 9

In [3]:
r = int(input("enter ur rate"))
p = int(input("enter ur principal"))
t = int(input("enter ur time"))
si =p*r*t/100

print("simple intrest calculator")
print("principal =",p , 'rs')
print("rate =", r, '%')
print("time=" ,t , 'year')
print('_'* 15)
print("simple intrest=",si)

simple intrest calculator
principal = 5000 rs
rate = 200 %
time= 50 year
_______________
simple intrest= 500000.0

In [33]:
print(a,b,c,d, sep=",")# ADVANCEversion ( not to be discussed)
fruits = ['apple','banana','cherry']
print(*fruits,sep=',')

12,3,9,10.2
apple,banana,cherry

String interpolation for formatted output

In [34]:
a = 12
b = 3
c = a - b
print("answer:",a,'-',b,'=',c)
print(f"answer:{a} - {b} = {c}")

answer: 12 - 3 = 9
answer:12 - 3 = 9

In [36]:
#area of triangle 
b = int(input("enter the base of the triangle"))
h = int(input("enter the height of the triangle"))
area = 1/2*b*h
print("area oftriangle")
print(f'base = {b} cm')
print(f'height = {h} cm')
print('_'*15)
print(f'area = {area} cm')

area oftriangle
base = 12 cm
height = 4 cm
_______________
area = 24.0 cm

In [2]:
# round function should be used with expression
print(round(10/3))
print(round(10/3, 1))
print(round(10/3, 2))

3
3.3
3.33

In [3]:
#displaying round function should be used with expression
a = 10
b = 7
print(f'{a} divided by {b} is {a/b}')
print(f'{a} divided by {b} is {a/b:.1f}')
print(f'{a} divided by {b} is {a/b:.2f}')
print(f'{a} divided by {b} is {a/b:.3f}')

10 divided by 7 is 1.4285714285714286
10 divided by 7 is 1.4
10 divided by 7 is 1.43
10 divided by 7 is 1.429

In [9]:
#text alignment
n1 = "the final empire"
a1 = 'brandon sanderson'
p1 = 499
n2 = 'the art of war'
a2 = 'sun tzu'
p2 = 239
n3 = 'stormlight archives: the way of kings'
a3 = 'brandon sanderson'
p3 = 550

print(f'{n1:>40} | {a1:^20} | {p1}')
print(f'{n2:>40} | {a2:^20} | {p2}')
print(f'{n3:>40} | {a3:^20} | {p3}')

                        the final empire |  brandon sanderson   | 499
                          the art of war |       sun tzu        | 239
   stormlight archives: the way of kings |  brandon sanderson   | 550