#list
- create 
- indexing and slicing
- methods
- append()
- insert()
- extend()
- count()
- reverse()
-  sort()
- index()
- copy()
- comprehension

In [1]:
a = [1,2,3]
print(a,type(a))
names = ['Alice','bob','charlie']
print(names, type(names))
data = ['apple', 50,'mango',100, 'orange', 70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1]*10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [14]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first six =',n[:6])
print('last six =',n[-6:])
print('second last element=',n[-2])
print('second element=',n[0])
print('except first 2 and last 2=',n[2: -2])
print('reverse list =',n[::-1])
print('all even indexes=',n[::2])
print('all odd indexes=',n[1::2])

first six = [11, 12, 13, 14, 15, 16]
last six = [15, 16, 17, 18, 19, 20]
second last element= 19
second element= 11
except first 2 and last 2= [13, 14, 15, 16, 17, 18]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes= [11, 13, 15, 17, 19]
all odd indexes= [12, 14, 16, 18, 20]

In [17]:
#list is mutable
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [12]:
movies =[]
print(type(movies))
print(len(movies))
movies.append("star wars")
movies.append("harry potter")
movies.append("the core")
movies.append("the bullet")
movies.append("iron man")
print(movies)
print(len(movies))

<class 'list'>
0
['star wars', 'harry potter', 'the core', 'the bullet', 'iron man']
5

In [1]:
ff = ['fast and furious',
      '2 fast 2 furious',
      'fast and furious']
ff.append("fast and furious3")
print(ff)
ff.insert(2,'2 fast 2 furious')
print(ff)

['fast and furious', '2 fast 2 furious', 'fast and furious', 'fast and furious3']
['fast and furious', '2 fast 2 furious', '2 fast 2 furious', 'fast and furious', 'fast and furious3']

In [4]:
n = [1,2,3,6,7,8,9]
n.insert(3,4)#on 3rd index, insert value =4
print(n)
n.insert(4,5)
print(n)
n.insert(100,5)
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [25]:
#adding list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 5]

In [5]:
n.remove(3)#search where is 3 and remove it
print(3)
n.remove(5)#remove first
print(n)

3
[1, 2, 4, 6, 7, 8, 9, 5]

In [8]:
movies.remove('the core')
print(movies)

['star wars', 'harry potter', 'the bullet', 'iron man']

In [9]:
n.pop(3)

6

In [10]:
print(n)

[1, 2, 4, 7, 8, 9, 5]

In [13]:
n.pop()#remove last letter

9

In [14]:
movies.pop()
print(movies)

['star wars', 'harry potter', 'the core', 'the bullet']

In [15]:
n.clear()
print(n)
movies.clear()
print(movies)

[]
[]

In [16]:
x = [1,2,3,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,2]

print(x.count(1))

print(x.count(2))
print(x.count(3))

4
8
7

In [17]:
y =[1,2,3,4,5]
y.reverse()#or y[::-1]
print(y)

[5, 4, 3, 2, 1]

In [19]:
names = ['vijay','salman','rahul','akbar']
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['akbar', 'rahul', 'salman', 'vijay']
['vijay', 'salman', 'rahul', 'akbar']

In [21]:
heroes =['goku','naruto','luffy','ichigo','natsu','meliodas']
print(heroes)
luffy_idx = heroes.index('luffy')
print(luffy_idx)

['goku', 'naruto', 'luffy', 'ichigo', 'natsu', 'meliodas']
2

In [26]:
x = [1,2,3]
y = x  #y is a reference to x
z = x.copy() #z is shallow copy of x
x.append(4)
y.append(5)
z.append(6)
print(x)
print(y)
print(z)
print(x is y)
print(x is z)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 6]
True
False

comprehension

In [27]:
x =[1,2,3,4,5]
x2 =[]
for i in x:
    s = i**2
    x2.append(s)
    print(x2)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

In [28]:
x = [1,2,3,4,5,6,]
x2= [i-10 for i in x]
print(x)
print(x2)

[1, 2, 3, 4, 5, 6]
[-9, -8, -7, -6, -5, -4]

In [34]:
a =[15,3,12,11,6,7]
aeven2 =[i**2 for i in a if i%2==0]
print(a)
print(aeven2)
aood =[i-5 for i in a if i%2==0]
print(aood)

[15, 3, 12, 11, 6, 7]
[144, 36]
[7, 1]

In [37]:
b = [65,68,59,20,70]
c =[chr(i) for i in b]
print(b)
print(c)

[65, 68, 59, 20, 70]
['A', 'D', ';', '\x14', 'F']

In [39]:
crap_list = ['a',1,2,3,'B','c','D',4,5,6,1,1,2,5,6,]
clean_list = [i for i in crap_list if isinstance(i,str)]
print(crap_list)
print(clean_list)

['a', 1, 2, 3, 'B', 'c', 'D', 4, 5, 6, 1, 1, 2, 5, 6]
['a', 'B', 'c', 'D']

In [46]:
#make all the input to a int list
nums =[int(n) for n in input('enter a number').split()]
print(nums)

[1, 2, 3, 4]

tuple

In [47]:
a = (1,2,3,4,5)
print(a, type(a))
b =1,2,3,4
print(b,type(b))
c =(1,)
print(c)
d = (1,)*5#tuple duplication
e = tuple([1,2,3,4,5])
print(e,type(e))

(1, 2, 3, 4, 5) <class 'tuple'>
(1, 2, 3, 4) <class 'tuple'>
(1,)
(1, 2, 3, 4, 5) <class 'tuple'>

In [48]:
x =(1,1,1,13,4,5,6,6)
print(x.count(1))
print(x.count(10))
print(x.index(4))#find index of 4

3
0
4

tuple unpacking

In [1]:
1,2,3

(1, 2, 3)

In [2]:
x = ('apple',100)
print(x)

('apple', 100)

In [3]:
item, price =x
print(item,price)

apple 100

In [4]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [8]:
#erroe - too many values to unpack
one_tuple = (1,2,3,4,5,6,7,8,9,10)#
a,b,c = one_tuple

ValueError: too many values to unpack (expected 3)

In [13]:

#error -less values to unpack
a,b,c = x#unfixable

ValueError: not enough values to unpack (expected 3, got 2)

In [10]:
#* - ubpacking operator
one_tuple = (1,2,3,4,5,6,7,8,9,10)
a,b,*c = one_tuple
print(a,b,c)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
a,*b = one_tuple
print(a)
print(b)

1
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
one,*middle,last = one_tuple
print(one)
print(middle) 
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [20]:
# trick - using * for displaying data in print
print(one_tuple)
 
print(*one_tuple)# works with any iterable

print(*one_tuple, sep ='/n')

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1 2 3 4 5 6 7 8 9 10
1/n2/n3/n4/n5/n6/n7/n8/n9/n10

In [21]:
for i in one_tuple:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
x = [1,2,3,4,5,6,7,8,9,10]
x2 = 3
for i in x :
    print(i*x2)

3
6
9
12
15
18
21
24
27
30