#list
- create 
- indexing and slicing
- methods
- append()
- insert()
- extend()
- count()

In [1]:
a = [1,2,3]
print(a,type(a))
names = ['Alice','bob','charlie']
print(names, type(names))
data = ['apple', 50,'mango',100, 'orange', 70]
nested_list = [[1,2,3],[4,5,6],[7,8]]
print(data)
print(nested_list)
duplicated_list = [1]*10
print(duplicated_list)
print(list('vertex'))
print('welcome to listing'.split())

[1, 2, 3] <class 'list'>
['Alice', 'bob', 'charlie'] <class 'list'>
['apple', 50, 'mango', 100, 'orange', 70]
[[1, 2, 3], [4, 5, 6], [7, 8]]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
['v', 'e', 'r', 't', 'e', 'x']
['welcome', 'to', 'listing']

In [14]:
n = [11,12,13,14,15,16,17,18,19,20]
print('first six =',n[:6])
print('last six =',n[-6:])
print('second last element=',n[-2])
print('second element=',n[0])
print('except first 2 and last 2=',n[2: -2])
print('reverse list =',n[::-1])
print('all even indexes=',n[::2])
print('all odd indexes=',n[1::2])

first six = [11, 12, 13, 14, 15, 16]
last six = [15, 16, 17, 18, 19, 20]
second last element= 19
second element= 11
except first 2 and last 2= [13, 14, 15, 16, 17, 18]
reverse list = [20, 19, 18, 17, 16, 15, 14, 13, 12, 11]
all even indexes= [11, 13, 15, 17, 19]
all odd indexes= [12, 14, 16, 18, 20]

In [17]:
#list is mutable
n[5] = 100 #update
print(n)
n[0] = 200
print(n)

[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]
[200, 12, 13, 14, 15, 100, 17, 18, 19, 20]

In [20]:
movies =[]
print(type(movies))
print(len(movies))
movies.append("star wars")
movies.append("harry potter")
movies.append("the core")
movies.append("the bullet")
movies.append("iron man")
print(movies)
print(len(movies))

<class 'list'>
0
['star wars', 'harry potter', 'the core', 'the bullet', 'iron man']
5

In [21]:
ff = ['fast and furious',
      '2 fast 2 furious',
      'fast and furious']
ff.append("fast and furious3")
print(ff)
ff.insert(2,'2 fast 2 furious')
print(ff)

['fast and furious', '2 fast 2 furious', 'fast and furious', 'fast and furious3']
['fast and furious', '2 fast 2 furious', '2 fast 2 furious', 'fast and furious', 'fast and furious3']

In [23]:
n = [1,2,3,6,7,8,9]
n.insert(3,4)#on 3rd index, insert value =4
print(n)
n.insert(4,5)
print(n)
n.insert(100,5)
print(n)

[1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 5]

In [25]:
#adding list in a another list
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]
l1.extend(l2)
print(l1)
print(l2)
l2.extend(l3)
print(l2)
l3.extend([1,2,3,4,5,5])
print(l3)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[4, 5, 6, 7, 8, 9]
[7, 8, 9, 1, 2, 3, 4, 5, 5]