# loops in python
1. 'for loop->step based loop
2. while loop->condition based loop

#iterable is any object that has children/items to iterable over
- string
- list
- tuble
- set
- dictionary
- genretor
- range()
- loop control
1. break
2. continue 
3. enumerate()
4. zip()
5. for-else, while-else

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
for i in range(5):
 print(i)

0
1
2
3
4

In [8]:
for i in range(10, 20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [12]:
for i in range(1, 11, 2):
    print(i, end=', ')

1, 3, 5, 7, 9,

In [13]:
#reverse
for i in range(5, -6, -1):
    print(i, end=',')

5,4,3,2,1,0,-1,-2,-3,-4,-5,

In [15]:
word = 'digipodium'
for char in word:
    print("=>",char)

=> d
=> i
=> g
=> i
=> p
=> o
=> d
=> i
=> u
=> m

In [17]:
data = 'p_y@!t@h#on'
for i in data:
    if i.isalpha():
        print(i)

p
y
t
h
o
n

In [22]:
nums = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for num in nums:
        print(num * 5)

-25
-20
-15
-10
-5
0
5
10
15
20
25

In [24]:
nums = [-6,-4,-2,0,2,4,6]
for num in nums:
    print(num*5)

-30
-20
-10
0
10
20
30

In [25]:
fruits =['apple','banana','cherry','dragonfruit','eggplant','fig','gauva','honydew','imli','kiwi']
for fruit in fruits:
    print(fruit, len(fruit))

apple 5
banana 6
cherry 6
dragonfruit 11
eggplant 8
fig 3
gauva 5
honydew 7
imli 4
kiwi 4

In [28]:
for i in fruits:
    if i == 'fig':
        break
    print(i)
print('loop completed')

apple
banana
cherry
dragonfruit
eggplant
loop completed

In [1]:
nums = [10,30,65,29]
total = 0
for i in nums:
    total +=1
print(total)

4

In [32]:
nums = [120, -20, 10 , 40, 101, -50, 15]
total = 0
for i in nums:
    if i < 0:
        continue
    total += i
print(total)

286

In [34]:
total = 0
for i in nums:
    if i > 0:
        total += i
print(total)

286

In [4]:
names = ['isha','harsh','divyansh','muskan','anshika']
for i in names:
    print(i)

isha
harsh
divyansh
muskan
anshika

In [10]:
for i , v in enumerate(names):
    print(i, v)

0 isha
1 harsh
2 divyansh
3 muskan
4 anshika

In [9]:
for i, v in enumerate(names):
    if i==3:
        break
    print(v)

isha
harsh
divyansh

In [14]:
for i, v in enumerate(names):
    if i % 2 == 0:
      print(v)

isha
divyansh
anshika

In [17]:
x =[1,2,3,4,5]
y =[6,7,8,9,10]
for i,j in zip(x,y):
    print(f'{i} + {j} = {i + j}')

1 + 6 = 7
2 + 7 = 9
3 + 8 = 11
4 + 9 = 13
5 + 10 = 15

In [18]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
for i,j,k in zip(a,b,c):
    print(f'{i} + {j} + {k} = {i + j + k}')

1 + 4 + 7 = 12
2 + 5 + 8 = 15
3 + 6 + 9 = 18

In [26]:
name = ['apple','banana','cherry']
price = [100,200,300]
qty = [3,2,5]
total =0
for n,p,q in zip(name,price,qty):
    print(f'{n:10}|{p:^5}|{q:^3}|{p*q:>5}')
    total +=p*q
print('_'*30)
print(f"total {total:20}")

apple     | 100 | 3 |  300
banana    | 200 | 2 |  400
cherry    | 300 | 5 | 1500
______________________________
total                 2200

In [36]:
for i in range(5):
    print(i)
    if i ==3:
        break
    else:
        print('loop completed successfully')

0
loop completed successfully
1
loop completed successfully
2
loop completed successfully
3

In [41]:
n = int(input("enter a stop value"))
for i in range(1,11):
    if i == n:
        print("loop terminated")
        break
    print(i)
else:
    print("well done")

1
2
3
4
5
6
7
8
9
10
well done

In [51]:
# prime number
n = int(input("enter a number:"))
for i in range(2,n):
    print(f"=> {n} % {i} =={ n%i == 0}")
    if n%i==0:
        print("not prime")
        break
    else:
        print("prime")

=> 5 % 2 ==False
prime
=> 5 % 3 ==False
prime
=> 5 % 4 ==False
prime

In [53]:
i =200
while i >0:
    print(i)
    i -=10

200
190
180
170
160
150
140
130
120
110
100
90
80
70
60
50
40
30
20
10