- set
- create
- method

In [3]:
x = set()
print(x)
y ={1,2,3,4,5,6,1,2}
print(y)
fruits = {"apple","banana","cherry"}
print(fruits)
data = {'apple',205,3.14,'banana'}
print(data)
a = set([1,2,3,4,5,6,7,8,9,10])
b = set("harry potter")
print(a)
print(b)

set()
{1, 2, 3, 4, 5, 6}
{'apple', 'banana', 'cherry'}
{'apple', 3.14, 205, 'banana'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{'t', 'o', 'y', ' ', 'h', 'p', 'a', 'r', 'e'}

In [4]:
a = set()
a.add("the final empire")
a.add("the hero of ages")
a.add("the well of ascension")
print(a)

{'the final empire', 'the well of ascension', 'the hero of ages'}

In [5]:
a.update(['appleseed','applepie','applecider'])
print(a)

{'the final empire', 'applecider', 'the well of ascension', 'applepie', 'appleseed', 'the hero of ages'}

In [6]:
a.add("appleseed")#not added
print(a)#no duplicates

{'the final empire', 'applecider', 'the well of ascension', 'applepie', 'appleseed', 'the hero of ages'}

In [8]:
a.discard("appleseed")
a.discard("applepie")#noerror
a.discard("appleseed")
print(a)

{'the final empire', 'applecider', 'the well of ascension', 'the hero of ages'}

In [14]:
a ={1,2,3}
b ={3,4,5}
c ={6,7,8}
print(a.union(b))
ab = a.union(b)
print(ab)
print(a.union(b,c))
print(a|b|c)#| is union

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
print(a.intersection(b))
print(a&b) #& is intersection
print(a &c)
print(a&b&c)

{3}
{3}
set()
set()

In [17]:
print(a.difference(b))
print(b.difference(a))
print(a -c)# - is difference

{1, 2}
{4, 5}
{1, 2, 3}

In [18]:
print(a.symmetric_difference(b))
print(a^b) # ^ is symmetric difference

{1, 2, 4, 5}
{1, 2, 4, 5}

dictionary

In [9]:
data = ["alex",True,False,29,"new york","photographer"]

datadict ={
    'name':'alex',
    'isMarried': True,
    'haschildren':False,
    'age':29,
    'city':'new york',
    'profession': 'photographer'
}

movies = {}#empty dictionary

expenditure = dict(
    food = 500,
    rent = 1700,
    insurance =200,

)

print(datadict)
print(expenditure)

{'name': 'alex', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
{'food': 500, 'rent': 1700, 'insurance': 200}

- creating
- accessing
- add or update 
- remove
- traversal

In [16]:
print(datadict['name'])
print(datadict['isMarried'])
print(datadict['city'])
#print(datadict['state'])

alex
True
new york

In [17]:
print(datadict.get('city'))
print(datadict.get('city'))#city is not in the dictionary
print(datadict.get('age',100))
print(datadict.get('AGE',100)) #AGE is not in the dictionary

new york
new york
29
100

In [18]:
movies['Deadpool & Wolverine'] ="shawn levy"
movies['bahubali'] = "ss rajamouli"
movies['Inception'] ="christopher nolan"
print(movies)

{'Deadpool & Wolverine': 'shawn levy', 'bahubali': 'ss rajamouli', 'Inception': 'christopher nolan'}

In [21]:
movies.update(
    {
        'the dark knight': 'Chritopher Nolan',
        'the prestige': 'christopher Nolan',
        'The matrix':'wachowski brothers',
          }
)
print(movies)

{'Deadpool & Wolverine': 'shawn levy', 'bahubali': 'ss rajamouli', 'Inception': 'christopher nolan', 'the dark knight': 'Chritopher Nolan', 'the prestige': 'christopher Nolan', 'The matrix': 'wachowski brothers'}

In [24]:
datadict['name'] ='alexander'
print(datadict)

{'name': 'alexander', 'isMarried': True, 'haschildren': False, 'age': 29, 'city': 'new york', 'profession': 'photographer'}
6

In [26]:
movies.pop("bahubali")

'ss rajamouli'

In [27]:
movies

{'Deadpool & Wolverine': 'shawn levy',
 'Inception': 'christopher nolan',
 'the dark knight': 'Chritopher Nolan',
 'the prestige': 'christopher Nolan',
 'The matrix': 'wachowski brothers'}

for loop in dict will ilerate over kyes

In [28]:
for item in datadict:
    print(item)

name
isMarried
haschildren
age
city
profession

In [29]:
for item in datadict:
    print(datadict[item])

alexander
True
False
29
new york
photographer

In [31]:
for k,v in datadict.items():
    print(k ,v)

name alexander
isMarried True
haschildren False
age 29
city new york
profession photographer

In [33]:
movies.keys()

dict_keys(['Deadpool & Wolverine', 'Inception', 'the dark knight', 'the prestige', 'The matrix'])

In [35]:
movies.values()

dict_values(['shawn levy', 'christopher nolan', 'Chritopher Nolan', 'christopher Nolan', 'wachowski brothers'])

nested dictionary

In [37]:
report = {
    '01' :{
        'name' : "alex",
        'subjects' :{
            'maths':80,
            'science' : 75,
            'english' : 95
        }

    },
    '02':{
        'name' :"Jhon",
        'subjects' : {
            'maths' : 80,
            'science' : 75,
            'english' : 85
        }
    },
}

In [39]:
report['02']['subjects']['english']

85

In [40]:
from pprint import pp

In [41]:
pp(report)

{'01': {'name': 'alex',
        'subjects': {'maths': 80, 'science': 75, 'english': 95}},
 '02': {'name': 'Jhon',
        'subjects': {'maths': 80, 'science': 75, 'english': 85}}}

In [42]:
rainfall_data ={
    'year': [2019,2020,2022,2023],
    'rainfall' : [100,200,150,250]
}
print(rainfall_data)

{'year': [2019, 2020, 2022, 2023], 'rainfall': [100, 200, 150, 250]}