strings

- creation
- indexing and slicing
- methods

In [2]:
# single quoted
a = 'apple'
print(type(a))

<class 'str'>

In [3]:
#double quoted
b = "big apple"
print(type(b))

<class 'str'>

In [4]:
#triple quoted
c = '''this is a string. and its in triple quotes '''
print(type(c))

<class 'str'>

In [5]:
d = str(129300)
print(type(d))

<class 'str'>

types of string

- byte b'hello'
- raw r'hello'
- format f'hello{a}'

In [7]:
print(b'this is a byte string')
print(r'this is /n/n/n a byte string')
print (f'{a} is a value')

b'this is a byte string'
this is /n/n/n a byte string
apple is a value

indexing

 -5 -4 -3 -2 -1
  a  p  p  l  e
  0  1  2  3  4

In [18]:
word = 'greek'
print(word[0])
print(word[1])
print(word[2])
print(word[-2])
print(word[-1])

g
r
e
e
k

In [19]:
msg ="journey before destination"
print(msg[15])
print(msg[-6])

d
n

In [20]:
print(msg[0]+ msg[1]+msg[2]+msg[3]+msg[4]+msg[5]+msg[6])

journey

sequence[star:stop:]
sequence[start:stop:step]

In [21]:
print(msg[0:7])

journey

In [22]:
print(msg[15:])

destination

In [25]:
name = 'vijay Deenanath chauhan'
fname = name[:5]#first 5 character
mname = name[6:-8]
lname = name[-7:]
print(fname)
print(mname)
print(lname)

vijay
Deenanath
chauhan

In [26]:
#reverse
print(name[::-1])
#step
print(name[::2])
#leaving out the start and end
print(name[5:-5])

nahuahc htananeeD yajiv
vjyDeaahcahn
 Deenanath ch

In [ ]:
x = "$1599.25 only"
print("convert it into flot")
x = float(x[1:-5])
print(x)

string methods

- formatting
 - upper()
 - lower()
 - capitalize()
 - title()
 - swapcase()
 - casefold()
 - center()
 - ljust()
 - rust()

In [30]:
msg = 'Life is Beautiful'
print(msg.upper())
print(msg.lower())
print(msg.title())
print(msg.capitalize())
print(msg.swapcase())
print(msg.casefold())
print(msg.center(50))
print(msg.ljust(50))
print(msg.rjust(50))
print(msg.rjust(50,'*'))
print(msg.ljust(50,'*'))
print(msg.center(50,'*'))

LIFE IS BEAUTIFUL
life is beautiful
Life Is Beautiful
Life is beautiful
lIFE IS bEAUTIFUL
life is beautiful
                Life is Beautiful
Life is Beautiful
                                 Life is Beautiful
*********************************Life is Beautiful
Life is Beautiful*********************************
****************Life is Beautiful*****************

- Validation method
 - isalpha()
 - isalnum()
 - isnumeric()
 - isdigit()
 - isspace()
 - isascii()
 - isprintable()
 - isupper()
 - islower()

In [31]:
data = input("enter something")
print(data)
print(data.isalpha())
print(data.isalnum())
print(data.isnumeric())
print(data.isdigit())
print(data.isspace())
print(data.isascii())
print(data.isprintable())
print(data.islower())
print(data.isupper())

apple pie
False
False
False
False
False
True
True
True
False

In [34]:
for i in range(0 , 280, 5):
    c = chr(i)
    print(f'{i} = {c} ,  {c.isascii()}')

0 =   ,  True
5 =  ,  True
10 =
 ,  True
15 =  ,  True
20 =  ,  True
25 =  ,  True
30 =  ,  True
35 = # ,  True
40 = ( ,  True
45 = - ,  True
50 = 2 ,  True
55 = 7 ,  True
60 = < ,  True
65 = A ,  True
70 = F ,  True
75 = K ,  True
80 = P ,  True
85 = U ,  True
90 = Z ,  True
95 = _ ,  True
100 = d ,  True
105 = i ,  True
110 = n ,  True
115 = s ,  True
120 = x ,  True
125 = } ,  True
130 =  ,  False
135 =  ,  False
140 =  ,  False
145 =  ,  False
150 =  ,  False
155 =  ,  False
160 =   ,  False
165 = ¥ ,  False
170 = ª ,  False
175 = ¯ ,  False
180 = ´ ,  False
185 = ¹ ,  False
190 = ¾ ,  False
195 = Ã ,  False
200 = È ,  False
205 = Í ,  False
210 = Ò ,  False
215 = × ,  False
220 = Ü ,  False
225 = á ,  False
230 = æ ,  False
235 = ë ,  False
240 = ð ,  False
245 = õ ,  False
250 = ú ,  False
255 = ÿ ,  False
260 = Ą ,  False
265 = ĉ ,  False
270 = Ď ,  False
275 = ē ,  False